
# /
/target
/.idea
/*.iml
/.classpath
/.project

# /gazelle-sts-client/
/gazelle-sts-client/*.iml
/gazelle-sts-client/target/

# /gazelle-sts-service/
/gazelle-sts-service/*.iml
/gazelle-sts-service/target/

# /gazelle-sts-constants
gazelle-sts-constants/*.iml
/gazelle-sts-constants/target/
